<div class="menu-container">
  <h2 class="menu-title">Menú</h2>
  <div class="menu-group">
    <button class="menu-btn green" (click)="navigateToPrecios()">
      <img src="assets/dollar.png" alt="Precios" />
      Precios
    </button>
    <button class="menu-btn blue" (click)="navigateToPublishAd()">
      <img src="assets/holy_card.png" alt="Publicar anuncio" />
      Publicar anuncio
    </button>
    <button class="menu-btn orange" (click)="navigateToControl()">
      <img src="assets/key.png" alt="Panel de Control" />
      Panel de control
    </button>
  </div>
  <div class="menu-group">
    <button class="menu-btn cyan" (click)="navigateToContact()">
      <img src="assets/contact.png" alt="Contactar" />
      Contactar
    </button>
    <button class="menu-btn purple" (click)="navigateToTextosLegales()">
      <img src="assets/hammer.png" alt="Textos Legales" />
      Textos Legales
    </button>
    <button class="menu-btn purple">
      <img src="assets/hammer.png" alt="Textos Legales" />
      Textos Legales
    </button>
  </div>
</div>
